div(id="mainContent" style="width:960px; margin:auto;")
	div(style="display: table; margin: 15px auto 0 auto;")
	nav.navbar.navbar-default
		.container-fluid
			.navbar-header
				a.navbar-brand(href='#') Profile Search

			div.navbar-form.navbar-left(role='search')
				select.form-control#searchType
					option(value="region") Region
					option(value="provider") Provider
					option(value="payer") Payer
				.form-group(style="padding-left:20px;")
					input.form-control(type='text' placeholder='Search')#searchBox
					button.btn.btn-default#searchButton Search
