doctype html
html(ng-app="torchlight")
	head
		meta(http-equiv='content-type', content='text/html; charset=UTF-8')
		meta(charset='utf-8')
		title CHIA
		meta(name='viewport', content='initial-scale=1, maximum-scale=1')
		link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/css/bootstrap.css')
		link(rel='stylesheet' href='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.css')
		link(rel='stylesheet' href='css/styles.css')
	body(style="position:relative;")
		include ./header.jade
		.container(ng-view style="position:relative;")
			include ./home.jade
			include ./tools.jade
			include ./region.jade
			include ./regionSummary.jade
			include ./service.jade
			include ./serviceSummary.jade
			include ./provider.jade
			include ./providerSummary.jade
			include ./maps.jade
			include ./subjectSummary.jade
			include ./rp.jade
			include ./thce.jade
		script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.js')
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.11/angular-route.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.js")
		script(src='https://api.tiles.mapbox.com/mapbox.js/v2.1.8/mapbox.js')
		script(src="js/torchlight.js")