script(type="text/ng-template" id="maps.html")
	.row
		.col-md-4
			h2 Maps
			ul.list-group
				li.list-group-item
					a(href="http://chiama.maps.arcgis.com/apps/Viewer/index.html?appid=6a89a54ddaf444b2ab29a7cf1289112e") Maps-achusetts
				li.list-group-item
					a(href="http://chiama.maps.arcgis.com/apps/Viewer/index.html?appid=9a181860bd52440eba4a7e708a7dc9a3") Uninsurance

