script(type="text/ng-template" id="provider.html")
	include _providerHeader.jade
	.row
		.col-md-5
			table.table
				tr
					th HSP Region
					th(ng-bind-html="provider.regionLink")
				tr
					th Tax Status
					th {{provider.detail.taxStatus}}
				tr
					th Cohort
					th {{provider.detail.cohort}}