script(type="text/ng-template" id="provider.html")
	include _providerHeader.jade
	.row
		.col-md-5
			table.table
				tr
					th Region
					th(ng-bind-html="provider.regionLink")
				tr
					th Tax Status
					th {{provider.detail.taxStatus}}
				tr
					th Cohort
					th {{provider.detail.cohort}}
				tr
					th Revenue
					th {{provider.stats.revenue}}
				tr
					th Margin
					th {{provider.stats.margin}}
				tr
					th Price Level
					th {{provider.stats.rpQuintile}}
				tr
					th Hospital Profile
					th(ng-bind-html="provider.hospitalProfileLink")
		.col-md-1
		.col-md-5
			h3 Relative Price
			table.table
				tr
					th Payer
					th Blended
					th Inpatient
					th Outpatient
				tr(ng-repeat="payer in provider.payers")
					th {{payer.name}}
					th {{payer.blended.value}}
					th {{payer.inpatient.value}}
					th {{payer.outpatient.value}}

		.col-md-1