
script(type="text/ng-template" id="regionSummary.html")

	include _regionHeader.jade

	.row
		.col-md-8
			#tmeGraph
		.col-md-4
			h3 {{regionSummary.longName}}
			table.table
				tr(ng-repeat="expense in regionSummary.expense")
					th {{expense.calendarYear}}
					th ${{expense.value}}