script(type="text/ng-template" id="region.html")

	.row
		.col-md-1
		.col-md-10
			ol.breadcrumb
				li
					a(href="#") Home
				li
					a(href="#/tools") Tools
				li.active Regional Profiles
		.col-md-1

	.row 
		.col-md-6
			div(id="regionDescription" style = "margin-bottom:30px;")
				h2 {{region.detail.longName}} &nbsp
				p Regional Profile
		.col-md-6
			.regionSearch
				input.form-control(id="regionSearchBox" type='text' placeholder='Region Search')
				button.btn.btn-default(id="regionSearchButton" type='submit') Search


	.row
		.col-md-3
			.panel.panel-primary
				.panel-heading
					.panel-title 
						h5 Demographics
				table.table
					tr
						th Income:
						th ${{region.income}}
					tr
						th FFS Enrollment:
						th {{region.apmPercent}}%
					tr
						th APM Enrollment:
						th {{region.ffsPercent}}%
					tr
						th Residents:
						th {{region.residentPercent}}%
					tr
						th Members:
						th {{region.memberPercent}}%


		.col-md-3
			.panel.panel-primary
				.panel-heading
					.panel-title 
						h5 Membership by Commercial Payer
				table.table
					tr(ng-repeat="payer in region.payerMembers track by $index")
						th {{$index + 1}}.
						th {{payer.name}}
						th {{payer.percent.toFixed(2)}}%

		.col-md-6
			.panel
				.panel-body
					p Region Map here
	.row 
		.col-md-12
			.panel.panel-primary
				.panel-heading
						.panel-title Total Medical Expense
				.panel-body
					.row
						.col-md-5#tmeDonut
							svg#tmeSvg
								g#tmeG
									text.donutText(y=-30)
										tspan#category {{region.donut.category}}
									text.donutText
										tspan#info Medical Expense PMM: ${{region.donut.value}}
									text.donutText(y=20)
										tspan#info Percent of Total PMM: {{region.donut.percent}} %
						.col-md-7#tmeGraph

