
script(type="text/ng-template" id="regions.html")

	.row
		.col-md-1
		.col-md-10
			ol.breadcrumb
				li
					a(href="#") Home
				li
					a(href="#") Tools
				li.active Regional Profiles
		.col-md-1

	.row
		.col-md-6
			h2 Regional Profiles
			p Summary
		.regionSearch.col-md-6
			input.form-control(id="regionSearchBox" type='text' placeholder='Region Search')
			button.btn.btn-default(id="regionSearchButton" type='submit') Submit
