script(type="text/ng-template" id="region.html")

	include _regionHeader.jade

	.row
		.col-md-3
			.panel.panel-primary
				.panel-heading
					.panel-title 
						h5 Demographics
				table.table
					tr
						th Income:
						th ${{region.income}}
					tr
						th FFS Enrollment:
						th {{region.apmPercent}}%
					tr
						th APM Enrollment:
						th {{region.ffsPercent}}%
					tr
						th Residents:
						th {{region.residentPercent}}%
					tr
						th Members:
						th {{region.memberPercent}}%

		.col-md-3
			.panel.panel-primary
				.panel-heading
					.panel-title 
						h5 Health Statistics
				table.table
					tr
						th Public Coverage:
						th {{region.publicCoverage}}%
					tr
						th Private Coverage:
						th {{region.privateCoverage}}%
					tr
						th No Coverage:
						th {{region.noCoverage}}%
		.col-md-3
			.panel.panel-primary
				.panel-heading
					.panel-title 
						h5 Membership by Commercial Payer
				table.table
					tr(ng-repeat="payer in region.payerMembers track by $index")
						th {{$index + 1}}.
						th {{payer.name}}
						th {{payer.percent.toFixed(2)}}%
		.col-md-3
			object(id="mapSvg" data="images/regionMap.svg" type="image/svg+xml")
			a(href="http://chia.website/map") Explore Map Data
	.row 
		.col-md-12
			.panel.panel-primary
				.panel-heading
						.panel-title Total Medical Expense
				.panel-body
					.row
						.col-md-5#tmeDonut
							svg#tmeSvg
								g#tmeG
									text.donutText(y=-30)
										tspan#category {{region.donut.category}}
									text.donutText
										tspan#info Medical Expense PMM: ${{region.donut.value}}
									text.donutText(y=20)
										tspan#info Percent of Total PMM: {{region.donut.percent}} %
						.col-md-7#tmeGraph

	.row 
		.col-md-3
			h4 Region Hospitals
			ul.list-group
				li.list-group-item(ng-repeat="hospital in region.hospitalList") {{hospital.hospitalName}}