script(type="text/ng-template" id="region.html")
	div(id="regionDescription")
		h2 {{region.description.longName}}
		p Regional Profile
	div(id="subnav" style="width:960px; margin: 30px 0 30px 0;")
		ul.nav.nav-tabs
			li(ng-click = "regionTab = 'regionTme'")
				a(href='javascript:;') TME
			li(ng-click = "regionTab = 'regionPayerMix'")
				a(href='javascript:;') Payer Mix
			li(ng-click = "regionTab = 'regionOther'")
				a(href='javascript:;') Other

	div(ng-if="regionTab == 'regionTme'")
		p stuff 1
	div(ng-if="regionTab == 'regionPayerMix'")
		p stuff 2
	div(ng-if="regionTab == 'regionOther'")
		p stuff 3


	//- div(style="font-size:16px; color:#0D6F8B; margin-bottom:10px;")
	//- 	span(style="text-transform:capitalize;") {{region.descriptions}}
	//- div(style="color:#555555; font-size: 10px; margin-bottom: 10px;")
	//- 	div(style="text-transform:capitalize; margin-bottom:3px;") {{api.street}}
	//- 	div(style="text-transform:capitalize") {{api.city}}, MA {{api.zip}}
	//- 	div(style="margin-top:10px") VPN - {{api.vpn}} || FacNo - {{api.facNo}}
	//- div(ng-repeat="stat in finance" style="position: relative;border: 1px solid white; background-color:#eeeeee; padding: 5px 0 5px 15px;")
	//- 	span(style="font-size:12px;") {{stat.name}}
	//- 	span(style="font-size:12px; position:absolute; left:300px;") {{stat.value}}
	//- div(style="width: 150px; margin: 10px auto;")
	//- 	canvas(id="myChart" style="width:100px; height:100px; margin: 10px auto;")
	//- div(ng-repeat="uType in util" class="chartColor" style="background-color:{{uType.color}}; padding: 0 0 0 15px; width:35%;")
	//- 	div(style="font-size:8px; color:black;line-height:25px; height:25px; vertical-align: middle;") {{uType.name}}