script(type="text/ng-template" id="service.html")

	include _serviceHeader.jade

	.row 
		.col-md-5
			.panel.panel-primary
				.panel-heading
					.panel-title
						span Statewide Statistics for Top 3 Payers in 2012
				table.table
					tr
						th Payments
						th ${{service.stats.payments12View}}
						th {{service.stats.paymentsChange}}%
					tr
						th Claims
						th {{service.stats.claims12View}}
						th {{service.stats.claimsChange}}%
					tr
						th Average Rate:
						th ${{service.stats.averageRate12}}
						th {{service.stats.averageRateChange}}%
		.col-md-7


			h4 Classification
			table.table
				tr(ng-if="service.detail.catLevel >= 1")
					th Level 1: 
					th(ng-bind-html="service.cat1Link")
				tr(ng-if="service.detail.catLevel >= 2")
					th Level 2: 
					th(ng-bind-html="service.cat2Link")
				tr(ng-if="service.detail.catLevel >= 3")
					th Level 3: 
					th(ng-bind-html="service.cat3Link")
				tr(ng-if="service.detail.catLevel >= 4")
					th Level 4: 
					th(ng-bind-html="service.cat4Link")

			div(ng-if="service.detail.catLevel == 5")
				h4 Description
				p {{service.detail.description}}
				hr
			div(ng-if="service.detail.catLevel < 5")
				h4 Information
				table.table
					tr
						th Category Level:
						th {{service.detail.catLevel}}
					tr
						th Code Count:
						th {{service.detail.codeCount}}
					tr(ng-if="service.detail.catLevel == 4")
						th Betos Code:
						th {{service.detail.betosCode}}