script(type="text/ng-template" id="serviceSummary.html")

	include _serviceHeader.jade

	.row
		.col-md-3
			h4 Category Level 1
		.col-md-3
			h4 Category Level 2
		.col-md-3
			h4 Category Level 3
		.col-md-3
			h4 Category Level 4

