script(type="text/ng-template" id="subject.html")
	.row
		.col-md-1
		.col-md-10
			ol.breadcrumb
				li
					a(href="#") Home
				li
					a(href="#/tools") Tools
				li.active Performance Measures Profiles
		.col-md-1

	.row 
		.col-md-6
				h2 Subject profiles
		.col-md-6
			.regionSearch
				.col-md-6
					select.form-control(name="select")
						option Select Subject
						option Relative Price
						option Total Health Care Expenditures
						option Alternative Payment Methodologies
						option Total Medical Expense
						option Access
						option Opiate Addiction
						option Emergency Room Utilization
						option Standard Quality Measure Sets
						option Provider Financial Performance
						option Patient Safety and Medical Error Reduction
						option Post-Acute Care
				.col-md-6
					button.btn.btn-default(type='submit') Search