script(type="text/ng-template" id="tools.html")
	h1 Tools
	ul
		li Map
		li Profiles
			ul
				li 
					a(href="#/regions") Regional Profiles
				li Provider Profiles
				li Payer Profiles
				li 
					a(href="#/services") Service Profiles
				li Payer Profiles
		li Health Services Pricing Index